.logo {
  text-align: center;
}
p {
  text-align: center;
}
#heading {
  background: url("../assets/backgrounds/landing.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px
  }
#breakfast {
  background: url("../assets/foodtop/breakfast.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:430px;
  height:250px;
  position: relative;
}
#lunch {
  background: url("../assets/foodtop/lunch.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:430px;
  height:250px;
  position: relative;
}
#dinner {
  background: url("../assets/foodtop/dinner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:400px;
  height:250px;
  position: relative;
}
h1 {
  font-style: normal;
  font-size: 30px;
}
h2 {
  font-size: 30px;
  text-align: right;
}
#column {
  float: right;
}
p {
  font-size: 25px;
  text-align: center;
}
.container {
  width:100%;
  margin:0px;
  padding: 0px
}
#clincher {
  width: 50px
}
